{
  "presets": [
     "react",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"],
        "node": "current"
      },
      "modules": false
    }]
  ],
  "env": {
    "test": {
      "presets": ["es2015"]
    }
  }
}
