{
  "presets": [
    "react",
    ["latest",
     {"es2015": {
      "modules":false,
      "loose":true
       }
     }]
  ]
  // "env": {
  //   "development":{
  //     "plugins":[
  //       "react-hot-loader"
  //     ]
  //   }
  // }
}