body {
  font: 18px "Trebuchet MS", "Lucida Sans";
  line-height: 2;
  color:#150101; 
  text-align: center;    
}

h2 {
    text-align: center;  
}

.App-header {
  background-color: gray;
  height: 50px;
  color:#150101;
  text-align: center;  
}

.Manager {
 width: 35px;
 height: 35px;
 vertical-align: middle;
}

.list {
  list-style-type: none; 
  margin: .5em 0;
  color: #444;
  text-align: center;
}

.list a {
  text-decoration: none;
  color: black;
}
   
.list a:hover {
  background: #E9E4E0;
}

.back-button:hover {
  color: black; 
  background-color: gray;
}
